  
<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Summarizer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='cssn/main.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
			
	</head>
	<body>

		<!-- Header -->
			<header id="header" style="border:#1c1c1c; border-width:3px; border-style:solid;">
				<div class="inner">
					<a href="{{url_for('home')}}" class="logo"><img src="{{url_for('static', filename='images/logo.png')}}" style="width:64px;height:64px;" >extractive text summarizer</a>
					<nav id="nav">
						<a href="{{url_for('home')}}">Home</a>
						<a href="{{url_for('summary')}}">summarize</a>
						<a href="{{url_for('compare_summary')}}">Compare</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
			<!--<div class = "slider">
				<img class="mySlides" src="C:\Users\HP\Desktop\templated-introspect\images/background.jpg">
				<img class="mySlides" src="C:\Users\HP\Desktop\templated-introspect\images/pic08.jpg">
				<img class="mySlides" src="C:\Users\HP\Desktop\templated-introspect\images/pic01.jpg">
			  </div>-->
			  
				<div class="inner">
					<h1><span>Save time and be more productive.
						<br />
						Just summarize it!</span></h1>
					<ul class="actions">
						<li><a href="{{url_for('summary')}}" class="button alt">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<!--<div class="inner">-->
					<div id="what we offer" class="col-row row">
						<h1 style="color:black;">What we offer?</h1>
					</div>
					<div class="col-group">
						<div class="column" align="center">
							<img src="{{url_for('static', filename='images/about-rocket.svg')}}" >
							<h2 style="color:black;">Efficiency</h2> 
							<p>Efficient summarization with powerful algorithms.</p>
						</div>
						<div class="column" align="center">
							<img src="{{url_for('static', filename='images/file-document.svg')}}">
							<h2 style="color:black;">Summary Length</h2>
							<p>Word count of your summary.</p>
						</div>
						<div class="column column_last" align="center">
							<img src="{{url_for('static', filename='images/auto-fix.svg')}}">
							<h2 style="color:black;">Reading Time</h2>
							<p>Average reading time of your text and the summary.</p>
						</div>
					</div>
			 
				</div>
			</section>
    <section id = "two">
			<div id="how_it_works" class="col-row row">
				<h1 style="color:black;">How it Works?</h1>
			</div>
			<div class="col-group">
				<div class="column" align="center">
					<img src="{{url_for('static', filename='images/result.jpeg')}}">
					<h2 style="color:black;">Enter your text</h2>
					<p>Enter the text or the url of the text that you want to summarize.</p>
				</div>
				<div class="column" align="center">
					<img src="{{url_for('static', filename='images/result.jpeg')}}">
					<h2 style="color:black;">Get Results</h2>
					<p>Get the result in seconds! This platform will process your text in real time and real quick.</p>
				</div>
				<div class="column column_last" align="center">
					<img src="{{url_for('static', filename='images/enjoy.jpeg')}}">
					<h2 style="color:black;">Enjoy</h2>
					<p>Enjoy your summary, the most important keywords and key phrases.</p>
				</div>
			</div>
		</section>
	<section id="three">	
		<div id="features" class="col-row row">
            <h1 style="color:black;">Features</h1>
		</div>
	</br>
        <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media" id="1">
                            <div id="icon-1" class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h2 style="color:black;">Summary Generation</h2>
                                <p>The better version of your information will be generated by extracting the most important parts of it.</p>
                            </div>
                        </li>
                        <li class="media" id="2">
                            <div id="icon-2" class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h2 style="color:black;">Comparing summaries</h2>
                                <p>Get news summaries. Just type "latest" or "news" + subject and the bot will propose the latest news accordingly.</p>
                            </div>
                        </li>
                        <li class="media" id="3">
                            <div id="icon-3" class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h2 style="color:black;" >Summary length</h2>
                                <p>Enjoy the most important keywords, that allows you to understand in seconds what the content is about.</p>
                            </div>
                        </li>
                        <li class="media" id="4">
                            <div id="icon-4" class="circle-icon mr-4">4</div>
                            <div class="media-body">
                                <h2 style="color:black;">Reading time</h2>
                                <p>Get to know more by going through the top extracted key fragments.</p>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="col-md-4 phone-img">
                    <div class="phone img-fluid">
                        <div class="power"></div>
                        <div class="lock"></div>
                        <div class="volume up"></div>
                        <div class="volume down"></div>
                        <div class="screen">
                            <div class="phoneicon">
                                <img id="phone-feature" src="{{url_for('static', filename='images/ss.jpeg')}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

	<section id ="four">	
		<div id="use_cases" class="col-row row">
            <h1 style="color:black;">Who Can Benefit from us?</h1>
        </div>
        
        <div id="Education" class="tabcontent"></div>
            <div class="items">
                <div class="subitem subitem-1"  align="center">
                    <img src="{{url_for('static', filename='images/student.png')}}" >
                    <h3 style="color:black;">Students</h3>
                </div>
                <div class="subitem subitem-2"  align="center">
                    <img src="{{url_for('static', filename='images/prof.png')}}">
                    <h3 style="color:black;">Professors</p>
                </div>
                <div class="subitem subitem-3"  align="center">
                    <img src="{{url_for('static', filename='images/reader.png')}}">
                    <h3 style="color:black;">Readers</h3>
                </div>
            </div>
		</section>     

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
						
					</header>
					<!--<ul class="social-icons">
						
						
						<li><a href="http://www.instagram.com"><span<img src='..\icons/instagram.png' /></a></li>
						<li><a href="http://www.twitter.com"><img src='..\icons/twitter.png' /></a></li>
						<li><a href="http://www.facebook.com"><img src='..\icons/youtube.png' /></a></li>
						<li><a href="http://www.youtube.com"><img src='..\icons/facebook.png' /></a></li>
						<li><a href="http://www.linkedin.com"><img src='..\icons/linkedin.png' /></a></li>
				        	
					</ul>-->
					
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label"><img src="{{url_for('static', filename='icon/twitter.png')}}" style= "color:lightseagreen;"/>twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
									
									</ul>

					
					
									<div class="footer-copyright" align="center">Copyright © 2020 Summarizer. All rights reserved.</div>
									<div class="footer-caption" align="center">Made with <img src="{{url_for('static', filename='images/heart.png')}}"> in Medi-Caps University, Indore, India</div>
								 </div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="../static/jsn\jquery.min.js"></script>
			<script src="../static/jsn\skel.min.js"></script>
			<script src="../static/jsn\util.js"></script>
			<script src="../static/jsn\main.js"></script>
			<script src="../static/jsn\new.js"></script>

	</body>
</html>